<section class="page-card page-card--centered">
  <h1>{{ "auth.login" | translate }}</h1>
  <p>{{ "auth.invalidCredentials" | translate }}</p>

  <form (ngSubmit)="login()" class="form">
    <label>
      {{ "auth.email" | translate }}
      <input
        type="email"
        [(ngModel)]="email"
        name="email"
        required
        placeholder="doctor@patientmetrics.local"
      />
    </label>

    <label>
      {{ "auth.password" | translate }}
      <input
        type="password"
        [(ngModel)]="password"
        name="password"
        required
        minlength="8"
      />
    </label>

    <button type="submit" class="button button--primary">
      {{ "auth.signIn" | translate }}
    </button>
  </form>
  <p *ngIf="errorMessage" class="error">{{ errorMessage }}</p>
</section>
