<section class="page-card page-card--centered">
  <h1>Logowanie</h1>
  <p>Wprowadź adres e-mail i hasło.</p>

  <form (ngSubmit)="login()" class="form">
    <label>
      E-mail
      <input
        type="email"
        [(ngModel)]="email"
        name="email"
        required
        placeholder="doctor@patientmetrics.local"
      />
    </label>

    <label>
      Hasło
      <input
        type="password"
        [(ngModel)]="password"
        name="password"
        required
        minlength="8"
      />
    </label>

    <button type="submit" class="button button--primary">Zaloguj</button>
  </form>
  <p *ngIf="errorMessage" class="error">{{ errorMessage }}</p>
</section>
