<div class="app-shell">
  <header class="app-header">
    <nav class="nav-links">
      <a *ngIf="!isAuthenticated" routerLink="/login">Logowanie</a>
      <a routerLink="/patients">Pacjenci</a>
      <a routerLink="/fields">Pola</a>
      <a routerLink="/config">Konfiguracja</a>
      <button
        *ngIf="isAuthenticated"
        class="button--logout"
        type="button"
        (click)="logout()"
      >
        Wyloguj
      </button>
    </nav>
  </header>
  <main class="app-main">
    <router-outlet></router-outlet>
  </main>
  <app-spinner></app-spinner>
  <app-toastr></app-toastr>
</div>
